<include file="Public:header" />

<block name="body">
<div id="main-content">
<div id="main" class="main">
    <div class="main-title-h">
        <span class="d-sm-flex align-items-center justify-content-between h4">{:isset($info['id'])?'edit':'New'} {:l('Frontend Menu')}</span>
    </div>

    <form action="{:U()}" method="post" class="form-horizontal">
	<table class="table">
        <tr class="controls">
            <td class="item-label">{:l('Title')}</td>
            <td>
                <input type="text" class="form-control" name="title" value="{$info.title|default=''}">
			</td>
				<td class="item-note">({:l('Configuration title for background display')})</td>
            
        </tr>
        <tr class="controls">
            <td class="item-label">{:l('Sort')}</td>
            <td>
                <input type="text" class="form-control" name="sort" value="{$info.sort|default=0}">
			</td>	
				<td class="item-note">({:l('Order for group display')})</td>
            
        </tr>
        <tr class="controls">
            <td class="item-label">{:l('URL')}</td>
            <td>
                <input type="text" class="form-control" name="url" value="{$info.url|default=''}">
			</td>		
			<td class="item-note">({:l('U function parsed URL or external link')})</td>        
        </tr>
		        <tr class="controls">
            <td class="item-label">{:l('Icon')}</td>
            <td>
                <input type="text" class="form-control" name="ico" value="{$info.ico|default=''}">
			</td>		
			<td class="item-note">{:l('Example')} ion-md-lock [<a href="https://iconpark.oceanengine.com/official" target="_blank">{:l('CheatSheet')}</a></td>        
        </tr>
				        <tr class="controls">
            <td class="item-label">{:l('Mobile Icon')}</td>
            <td>
                <input type="text" class="form-control" name="mobile_ico" value="{$info.mobile_ico|default=''}">
			</td>		
			<td class="item-note">{:l('Example')} fa fa-eye enter eye only[ {:l('Visible mobile menu only')}]</td>        
        </tr>
			<tr class="controls">
            <td class="item-label">{:l('Featured')}</td>
            <td>
                <input type="text" class="form-control" name="featured" value="{$info.featured|default=''}">
			</td>		
			<td class="item-note">{:l('Featured Text , Example new [Leave blank if not in use]')}</td>        
        </tr>
		<tr class="controls">
            <td class="item-label">{:l('Subtext')}</td>
            <td>
                <input type="text" class="form-control" name="subtext" value="{$info.subtext|default=''}">
			</td>		
			<td class="item-note">{:l('Text to describe submenu  [Leave blank if not in use]')}</td>        
        </tr>
        <tr class="controls">
            <td class="item-label">{:l('Parent menu')}</td>
            <td>
                <select name="pid" class="form-select">
                    <volist name="Menus" id="menu">
                        <option value="{$menu.id}" <eq name="menu.id" value="$info['pid']">{:l('selected')}</eq>>{$menu.title_show}</option>
                    </volist>
                </select>
			</td>
				<td class="item-note">({:l('belong to Parent menu')})</td>
            </tr>
                						<tr class="controls">
									<td class="item-label">{:l('Extenal URL')} :</td>
									<td><select name="is_external" class="form-select input-10x">
										<option value="1"
										<eq name="info.is_external" value="1">{:l('selected')}</eq>
										>{:l('Yes')}</option>
										<option value="0"
										<eq name="info.is_external" value="0">{:l('selected')}</eq>
										>{:l('No')}</option>
									</select></td>
									<td class="item-note"></td>
								</tr>



								<tr class="controls">
									<td class="item-label">{:l('Status')}:</td>
									<td><select name="status" class="form-select input-10x">
										<option value="1"
										<eq name="info.status" value="1">{:l('selected')}</eq>
										>{:l('Enabled')}</option>
										<option value="0"
										<eq name="info.status" value="0">{:l('selected')}</eq>
										>{:l('Disable')}</option>
									</select></td>
									<td class="item-note"></td>
								</tr>

        <tr class="controls">
		<td class="item-label"></td>
		<td>
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post btn-info" id="submit" type="submit" target-form="form-horizontal">{:l('Submit')}</button>
            <button class="btn btn-return btn-warning" onclick="javascript:history.back(-1);return false;">{:l('Back')}</button>
		</td>
        </tr>
	</table>
    </form>
	</div>
	</div>
</block>

<include file="Public:footer" />