<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">{:l('Warnings')}</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="d-sm-flex align-items-center justify-content-between h4">{:l('Manage Market Pairs')}</span>
        </div>

     
        <div class="card card-body mt-2 table-responsive">
            <div class="d-flex flex-wrap gap-2 tomato-1 mb-1">
                <div class="fl">
                    <a class="btn btn-success " href="{:U('Trade/marketEdit')}">{:l('Add')}</a>
                    <button class="btn ajax-post btn-info"
                            url="{:U('Trade/marketStatus',array('type'=>'resume'))}" target-form="ids">{:l('Enable')}</button>
                    <button class="btn ajax-post btn-warning "
                            url="{:U('Trade/marketStatus',array('type'=>'forbid'))}" target-form="ids">{:l('Disable')}</button>
                    <button class="btn ajax-post confirm btn-danger "
                            url="{:U('Trade/marketStatus',array('type'=>'del'))}" target-form="ids"><i class="far fa-trash-alt" title="Delete"></i>
                    </button>
                </div>
                <div class="search-form fr cf">
                    <div class="sleft">
                        <form name="formSearch" id="formSearch" method="get" class="d-flex align-items-center">
                            <select  name="field" class="form-select">
                                <option value="name"
                                <eq name="Think.get.field" value="name">{:l('selected')}</eq>
                                >{:l('Select Market')}</option>
                            </select>
                            <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
                            <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
                        </form>
                        <script>
                            //Search function
                            $(function () {
                                $('#search').click(function () {
                                    $('#formSearch').submit();
                                });
                            });
                            //Enter search
                            $(".search-input").keyup(function (e) {
                                if (e.keyCode === 13) {
                                    $("#search").click();
                                    return false;
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <table id="datatable-buttons" class="table dt-responsive">
                <thead class="table-light">
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="d-none d-md-table-cell">{:l('ID')}</th>
                    <th class="">{:l('Market')}</th>
                    
                    <th class="d-none d-md-table-cell">{:l('Buy-fee')}</th>
                    <th class="d-none d-md-table-cell">{:l('Sell-fees')}</th>
                    <th class="d-none d-md-table-cell">{:l('Min Buy')}</th>
                    <th class="d-none d-md-table-cell">{:l('Max Buy')}</th>
                    <th class="d-none d-md-table-cell">{:l('Min Sale Price')}</th>
                    <th class="d-none d-md-table-cell">{:l('Max Sale Price')}</th>
                    <th class="">{:l('Trading')}</th>
                    <th class="">{:l('Status')}</th>
                    <th class="">{:l('Option')}</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td class="d-none d-md-table-cell"><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                    
                            <td class="d-none d-md-table-cell">{$vo.fee_buy|NumToStr}</td>
                            <td class="d-none d-md-table-cell">{$vo.fee_sell|NumToStr}</td>
                            <td class="d-none d-md-table-cell">{$vo.buy_min|NumToStr}</td>
                            <td class="d-none d-md-table-cell">{$vo.buy_max|NumToStr}</td>
                            <td class="d-none d-md-table-cell">{$vo.sell_min|NumToStr}</td>
                            <td class="d-none d-md-table-cell">{$vo.sell_max|NumToStr}</td>
							<td>
                                <eq name="vo.trade" value="1">
                                    <span class="badge badge-pill badge-soft-success font-size-11">{:l('Enabled')}</span>
                                    <else/>
                                    <span class="badge badge-pill badge-soft-danger  font-size-11">{:l('Disabled')}</span>
                                </eq>
                            </td>
                            <td>
                                <eq name="vo.status" value="1">
                                    <span class="badge badge-pill badge-soft-success font-size-11">{:l('Enabled')}</span>
                                    <else/>
                                    <span class="badge badge-pill badge-soft-danger  font-size-11">{:l('Disabled')}</span>
                                </eq>
                            </td>

                            <td>
                                <neq name="vo.name" value="usd"><a href="{:U('Trade/marketEdit?id='.$vo['id'])}"
                                                                   class="btn btn-primary btn-sm"><i class="far fa-edit"></i></a></neq>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">{:l('No contents!')}</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //Highlight navigation
        highlight_subnav("{:U('Trade/market')}");
    </script>
</block>