                        <!-- Left sidebar -->
                                <div class="email-leftbar card">
                                    
                                    <div class="mail-list mt-4">
                                        <a href="{:U('Email/index')}"><i class="mdi mdi-email-outline me-2"></i> {:l('Email List')} <span class="ms-1 float-end">({$count})</span></a>
                                        <a href="{:U('Email/users')}"><i class="mdi mdi-star-outline me-2"></i>{:l('Users')}</a>
                                        <a href="{:U('Email/admin')}"><i class="mdi mdi-diamond-stone me-2"></i>{:l('Admin')}</a>
                                        <a href="{:U('Email/unsent')}"><i class="mdi mdi-file-outline me-2"></i>{:l('Unsent')}</a>
                                        
                                    </div>
    
                                </div>
                                <!-- End Left sidebar -->
        