<include file="Public:header"/>
<script type="text/javascript" src="__THEME__/layer/laydate/laydate.js"></script>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">{:l('Warnings')}</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="d-sm-flex align-items-center justify-content-between h4"><a href="{:U('Faucet/index')}">{:l('Faucet Management')}</a> >></span> <span class="d-sm-flex align-items-center justify-content-between h4"><empty name="data">{:l('Add Faucet')}<else/>{:l('Edit Faucet')}</empty></span>
		</div>
		<div class="card">
			<div class="card-body">
				<form id="form" action="{:U('Faucet/save')}" method="post" class="form-horizontal">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table class="table">
								<tr class="controls">
									<td class="item-label">{:l('Faucet name')}:</td>
									<td>
										<input type="text" class=" form-control input-10x " name="name" value="{$data.name}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Faucet currency')}:</td>
									<td><select name="coinname" class="form-select input-10x">
										<volist name="C['coin_list']" id="v">
											<option value="{$v['name']}"
											<eq name="data['coinname']" value="$v['name']">{:l('selected')}</eq>
											>{$v['title']}</option>
										</volist>
									</select></td>
									<td class="item-note">{:l('User buy owned')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">Sort:</td>
									<td>
									<input type="text" class="form-control input-10x " name="paixu" value="{$data['paixu']*1}">
									
									</td>
									<td class="item-note">{:l('Higher the value , more the forward')}</td>
								</tr>
								
								
								<tr class="controls">
									<td class="item-label">{:l('Total Times')}:</td>
									<td>
										<input type="text" class="form-control input-10x " name="num" value="{$data['num']*1}">
									</td>
									<td class="item-note">{:l('Consumption Times[Times x Faucet Price= Total Coins]')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Consumed')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="deal" value="{$data['deal']*1}">
									</td>
									<td class="item-note">{:l('How many consumption has been made yet')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Faucet price')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="price" value="{$data['price']*1}">
									</td>
									<td class="item-note">{:l('Coin Amount to be claimed every time')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Limit Per User')}:</td>
									<td>
										<input type="text" class="form-control input-10x " name="ulimit" value="{$data['ulimit']*1}">
									</td>
									<td class="item-note">{:l('How much coin a user can consume')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Start Date')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="time" value="{$data['time']}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
									</td>
									<td class="item-note">{:l('Faucet Start Date')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('End Date')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="endtime" value="{$data['endtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
									</td>
									<td class="item-note">{:l('Faucet End Date')}</td>
								</tr>
								<tr class="controls">
									<td class="item-label">{:l('Faucet period')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="tian" value="{$data['tian']}">
									</td>
									<td class="item-note">{:l('Hours: When a user can reclaim Faucet')}</td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">{:l('Time')}:</td>
									<td>
										<input type="text" class="form-control  input-10x " name="ci" value="0">
									</td>
									<td class="item-note">{:l('Secondary')}</td>
								</tr>

								<tr class="controls">
									<td class="item-label">{:l('Status')}:</td>
									<td><select name="status" class="form-select  input-10x">
										<option value="1"
										<eq name="data.status" value="1">{:l('selected')}</eq>
										>{:l('Enabled')}</option>
										<option value="0"
										<eq name="data.status" value="0">{:l('selected')}</eq>
										>{:l('Disable')}</option>
									</select></td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="btn submit-btn ajax-post btn-info" id="submit" type="submit" target-form="form-horizontal">{:l('Submit')}</button>
											<a class="btn btn-return btn-warning" href="{$Think.server.HTTP_REFERER}">{:l('Back')}</a>
											<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/>
											</notempty>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//submit Form
					$('#submit').click(function () {
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__THEME__/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript">
	var editor;
	KindEditor.ready(function (K) {
		editor = K.create('textarea[name="content"]', {
			width: '500px',
			height: '250px',
			allowPreviewEmoticons: false,
			allowImageUpload: true,
			items: [
				'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons',  'link', 'fullscreen'],
			afterBlur: function () {
				this.sync();
			}
		});
	});
	
	
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//Highlight navigation
		highlight_subnav("{:U('Faucet/index')}");
	</script>
</block>