<include file="Public:header" />
<div id="main-content">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">{:l('Warnings')}</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="d-sm-flex align-items-center justify-content-between h4">{:l('Bonus List')}</span>
   <notempty name="name"> <span class="h2-title">>><a href="{:U('Invit/index')}">{:l('Bonus List')}</a></span> </notempty>
  </div>
 
  <div class="card card-body mt-2 table-responsive">
    <div class="d-flex flex-wrap gap-2 tomato-1 mb-1">
        <div class="fl"></div>
        <div class="search-form fr cf">
         <div class="sleft">
          <form name="formSearch" id="formSearch" method="get" class="d-flex align-items-center" action="{:U('Invit/index')}">
           <input type="text" name="name" class="form-control" value="{$name}" placeholder="Please enter username"> <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
          </form>
          <script>
                             //Search function
                             $(function(){
                                 $('#search').click(function(){
                                     $('#formSearch').submit();
                                 });
                             });
                             //Enter search
                             $(".search-input").keyup(function(e){
                                 if(e.keyCode===13){
                                     $("#search").click();
                                     return false;
                                 }
                             });
                         </script>
         </div>
        </div>
       </div>
   <table class="table table-sm emptyx">
    <thead class="table-light">
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">{:l('ID')}</th>
      <th class="">{:l('Username')}</th>
      <th class="">{:l('Invited')}</th>
      <th class="">{:l('Reward name')}</th>
      <th class="">{:l('Action Type')}</th>
      <th class="">{:l('Operating Amount')}</th>
      <th class="">{:l('Incentive payments')}</th>
      <th class="">{:l('Bonus time')}</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
     <tr>
      <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
      <td>{$vo.id}</td>
      <td>{$vo['username']}</td>
      <td>{$vo.invit}</td>
      <td>{$vo.name}</td>
      <td>{$vo.type}</td>
      <td>{$vo['num']*1}</td>
      <td>{$vo['fee']*1}</td>
      <td>{$vo.addtime|addtime}</td>
     </tr>
     </volist> <else />
     <td colspan="12" class="text-center">{:l('No contents!')}</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	$(function(){
		//Highlight the main navigation
		$('.invit-box').addClass('current');
		//Highlight side navigation
		$('.invit-index').addClass('current');
	});
</script>
<include file="Public:footer" />