<include file="Public:header"/>
<script src="__THEME__/js/layer/laydate/laydate.js"></script>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">{:l('Warnings')}</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="d-sm-flex align-items-center justify-content-between h4">{:l('Financial details')}</span>
        </div>
     
        <div class="card card-body mt-2 table-responsive">
            <div class="d-flex flex-wrap gap-2 tomato-1 mb-1">
		
                <div class="fl">
                    <button class="btn btn-success" url="{:U('Finance/financeExcel')}" target-form="ids" id="submit" type="submit">{:l('Export selected')}</button>
                    <a class="btn btn-success" href="{:U('Finance/financeAllExcel')}" >{:l('Export all')}</a>
                </div>
            
            
                <div class="search-form fr cf">
                    <div class="sleft">
                        <form name="formSearch" id="formSearch" method="get" class="d-flex align-items-center" >
                            <select  name="type" class="form-select">
                                <option value=""
                                <empty name="Think.get.type">{:l('selected')}</empty>
                                >{:l('All states')}</option>
                                <option value="1" <eq name="Think.get.type" value="1">{:l('selected')}</eq>>{:l('Income')}</option>
                                <option value="2" <eq name="Think.get.type" value="2">{:l('selected')}</eq>>{:l('Spend')}</option>
                                
                            </select>
                            <select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-select">
                                <option value="username"
                                <eq name="Think.get.field" value="username">{:l('selected')}</eq>
                                >Username</option>
                            </select>
                            <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="Enter text to search" style="">
                            <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
                        </form>
                        <script>
                            //Search function
                            $(function(){
                                $('#search').click(function(){
                                    $('#formSearch').submit();
                                });
                            });
                            //Enter search
                            $(".search-input").keyup(function(e){
                                if(e.keyCode===13){
                                    $("#search").click();
                                    return false;
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
		 <form id="form" action="{:U('Finance/financeExcel')}" method="post" class="form-horizontal">
            <table class="table table-sm emptyx">
                <thead class="table-light">
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="d-none d-md-table-cell">{:l('ID')}</th>
                    <th class="">{:l('Username')}</th>
                    <th class="">{:l('Coin')}</th>
                    <th class="">{:l('Fees')}</th>
                    <th class="">{:l('Action')}</th>
                    <th class="d-none d-md-table-cell">{:l('Balance Before')}</th>
                    <th class="d-none d-md-table-cell">{:l('Balance After')}</th>
                    <th class="d-none d-md-table-cell">{:l('Note')}</th>
                    <th class="d-none d-md-table-cell">{:l('Time')}</th>
                    <th class="">{:l('Status')}</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td class="d-none d-md-table-cell">{$vo['id']}</td>
                            <td>{$vo['username']}</td>
                            <td>{$vo['coinname']}</td>
                            <td>{$vo['fee']}</td>
                            <td><eq name="vo.type" value="1">
                                <span class="badge badge-pill badge-soft-success font-size-11">{:l('Income')}</span>
                                <else/>
                                <span class="badge badge-pill badge-soft-danger font-size-11">{:l('Spend')}</span>
                            </eq></td>
                            <td class="d-none d-md-table-cell">Avail : {$vo['num_a']}<br>
                                Frozen : {$vo['num_b']}<br>
                                Total : {$vo['num']}<br>
                            </td>
                            <td class="d-none d-md-table-cell">Avail : {$vo['mum_a']}<br>
                                Frozen : {$vo['mum_b']}<br>
                                Total : {$vo['mum']}<br>
                            </td>
                            <td >
                                <empty name="vo['nameid']"><font color="red">--</font>
                                    <else/>
                                   <a href="{$vo['nameid']}">{$vo['name']}</a>
									</empty>
                                 <span title="{$vo['remark']}" class="fa fa-info-circle"></span><br>
                            </td>
                            <td class="d-none d-md-table-cell">{$vo['addtime']}</td>
                            <td>
                                <eq name="vo['status']" value="1"><span class="fa fa-check-circle" aria-hidden="true" title="Normal"></span>
                                    <else/>{:l('NA')}</eq>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">{:l('No contents!')}</td>
                </notempty>
                </tbody>
            </table>
			</form>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	//submit Form
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>



<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //Highlight navigation
        highlight_subnav("{:U('Finance/index')}");
    </script>
</block>