<div class="sidebar">
	<div id="subnav" class="subnav current">
		<h3>
			<i class="icon icon-unfold current"></i>
			{:l('Finance')}</h3>
		<ul class="side-sub-menu current">
			<li class="mycz-indexa">
				<a class="item" href="{:U('Mycz/index')}">{:l('Finance Config')}</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">{:l('Recharge Methods')}</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">{:l('Recharge record')}</a>
			</li>
			
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">{:l('Withdrawal Methods')}</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">{:l('USD')}</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">{:l('Digital assets transferredRememberrecord')}</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">{:l('Digital assets Withdrawal Remember record')}</a>
			</li>
			
		</ul>
	</div>
</div>