<include file="Public:header" />
<div id="main-content">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">Warnings</div>
 </div>
 <div id="main" class="main">
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">APP Banner</h4>
        </div>
    </div>
</div>

  <div class="d-flex flex-wrap gap-2 tomato-1 mb-1">
   <div class="fl">
    <a class="btn btn-success navbar-btn btn-sm" href="{:U('App/adsblock_edit')}">Add</a>
    <button class="btn ajax-post btn-info navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'resume'))}" target-form="ids">Enable</button>
    <button class="btn ajax-post btn-warning navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'forbid'))}" target-form="ids">Disable</button>
    <button class="btn ajax-post confirm btn-danger navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'delete'))}" target-form="ids"><i class="far fa-trash-alt" title="Delete"></i></button>
   </div>
  </div>
  <div class="card card-body mt-2 table-responsive">
   <table class="table table-sm emptyx">
    <thead class="table-light">
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">Title</th>
      <th class="">Image</th>
      <th class="">Added</th>
      <th class="">Status</th>
      <th class="">Option</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
      <tr>
       <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
       <td>{$vo.id}</td>
       <td>{$vo.name}</td>
       
       <td><img src="{$vo.img}" width="60"  style="margin-bottom: 20px;"></td>
       <td>{$vo.addtime|addtime}</td>
       <td>								<eq name="vo.status" value="1">
									<span class="badge badge-pill badge-soft-success font-size-11">Enabled</span>
									<else/>
									<span class="badge badge-pill badge-soft-danger font-size-11">Disabled</span>
								</eq>
								</td>
       <td>
        
        <a href="{:U('App/banner_edit?id='.$vo['id'])}" class="btn btn-primary btn-sm"><i class="far fa-edit"></i></a>
      </tr>
     </volist> <else />
     <td colspan="12" class="text-center">No contents!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	//Highlight the main navigation
//	$('.Appads-box').addClass('current');
//	//Highlight side navigation
//	$('.Appads-index').addClass('current');
</script>
<!-- /Content Area -->
<include file="Public:footer" />